html {
    background-color: #696969;
}
  
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #808080;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    text-align: center;
    padding: 20px 0;
    color: #00539f;
    /* text-shadow: 3px 3px 1px black; */
}

a {
    color: 	#FFF5EE;
}
  
p {
    /* 这里会影响 markdown的颜色 */
    color: black;
}